body {
  background: $darkOrange;
}

#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
canvas {
  border: 1px solid black;
}

.arrange-vertically > * {
    display:table-row; 
}
.arrange-horizontally > * {
  display:table-column; 
}

.buttonHeader {
  background: $lightGrey;
  border: 1px solid black;

}

.checkbox {
  background: $lightGrey;
  border: 1px solid black;

}

  // &:hover {
  //   background-color: darken(white, 15);
  // }

