
$lightOrange: #FFCA08;
$darkOrange: #F57921;
$lightBlue: #ACCEEC;
$darkBlue: #398BD4;
$lightGrey: #FCFCFC;
$darkLavender: #360e98;
$seaCyan: #159ed0;
$darkSeaCyan: #084961;
$charcoal: #312c31;

body {
  background: $charcoal;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#modal {
  width: 20%; 
  height: 30%; 
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: rgba(163,33,33);
  font-size: 2rem;
}

#modal-header {
  color: white;
}

#modal-subtitle {
  color: white;
}

#controls {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.control-label {
  color: $lightGrey;
}

